mixin dropdown(head, item_1, item_2, item_3, col_1, col_2, col_3)
  .dropdown-container
    .dropdown-head
      .dropdown-head-text
        p.head-text= head 
      .dropdown-head-arrow-container
        .dropdown-head-arrow(onclick='myFunction()')

    #dropdown-list.dropdown-list 

      .dropdown-list-item-1
        .list-title
          p= item_1
        .list-counter
          .btn-decrement(onclick='item_1_decrement()')
            span.span-decrement &#8722;
          .label-count
            span.span-count.span-count_1= col_1
          .btn-increment(onclick='item_1_increment()')
            span.span-increment &#43;

      .dropdown-list-item-2
        .list-title
          p= item_2
        .list-counter
          .btn-decrement(onclick='item_2_decrement()')
            span.span-decrement &#8722;
          .label-count
            span.span-count.span-count_2= col_2
          .btn-increment(onclick='item_2_increment()')
            span.span-increment &#43;
        
      .dropdown-list-item-3
        .list-title
          p= item_3
        .list-counter
          .btn-decrement(onclick='item_3_decrement()')
            span.span-decrement &#8722;
          .label-count
            span.span-count.span-count_3= col_3
          .btn-increment(onclick='item_3_increment()')
            span.span-increment &#43;